In [1]:
import pandas as pd
import numpy as np
import pymannkendall as mk

In [2]:
df=pd.read_csv("Tmax_all_station.csv")
df.head()

,Year,Day,Barishal,Bhola,Bogra,Chittagong,Coxs_Bazar,Cumilla,Dhaka,Faridpur,...,Madaripur,Mymensingh,Rajshahi,Rangamati,Rangpur,Sandwip,Satkhira,Sitakunda,Sylhet,Teknaf
0,1980.0,1.0,26.1,25.4,-99.9,25.1,25.7,25.0,24.7,1.0,...,26.5,23.6,23.8,26.0,21.6,26.8,27.9,25.5,24.1,27.0
1,1980.0,2.0,27.0,27.2,16.7,25.5,25.0,25.0,21.1,24.3,...,25.6,17.5,18.4,25.1,20.0,25.7,25.6,26.0,19.4,27.1
2,1980.0,3.0,21.8,23.4,23.1,26.0,27.0,23.3,22.8,19.2,...,23.0,24.6,21.0,26.1,20.5,25.2,24.0,-99.9,25.3,28.5
3,1980.0,4.0,25.1,25.4,24.4,26.7,28.0,25.6,25.0,20.4,...,25.7,25.6,22.6,27.2,22.1,26.2,25.0,27.0,25.6,29.2
4,1980.0,5.0,23.9,-99.9,24.4,24.0,-99.9,24.4,25.6,23.3,...,24.3,24.1,22.6,26.2,23.0,25.8,24.4,25.0,25.9,28.5

In [7]:
result=mk.original_test(df['Khulna'])
print(result)

Mann_Kendall_Test(trend='increasing', h=True, p=0.0, z=13.51672698463762, Tau=0.07108209962968853, s=9178866.0, var_s=461142214860.0, slope=8.232711306256783e-05, intercept=31.338501646542266)

In [4]:
trend, h, p, z, Tau, s, var_s, slope, intercept=result

In [5]:
print(trend, h, p, z, Tau, slope)

increasing True 0.0 13.51672698463762 0.07108209962968853 8.232711306256783e-05

In [8]:
result=mk.hamed_rao_modification_test(df['Khulna'])
print(result)

Modified_Mann_Kendall_Test_Hamed_Rao_Approach(trend='increasing', h=True, p=1.0651479698253752e-12, z=7.121821249185769, Tau=0.07108209962968853, s=9178866.0, var_s=1661100185204.633, slope=8.232711306256783e-05, intercept=31.338501646542266)